.App {
  text-align: center;
}

.tile {
  display: inline-grid;
}

.img {
  width: 200px;
  height: 200px;
}

.wrapper {
  display: inline-block;
  width: 800px;
}

ul {
  width: 100%;
  justify-content: space-around;
}

li {
  padding-top: 10px;
}

header {
  padding-top: 70px;
  height: 255px;
}
